<div>

<% @spot_s.each do |s| %>
  <%= s.title %>
  <%=s.arrived%>
  <%= s.price %>
</div>


  <% my_charge = Charge.find_by(item: s.title, user_id: current_user.id, completed: false) %>
      <div class="button">
        <%= link_to 'complete!', complete_charge_url(charge_id: my_charge.id, token: my_charge.token, price: my_charge.price, customer_id: my_charge.customer_id, destination: my_charge.vendor.uid) %>
      </div>
      <% end %>

</div>
